.header{
    display: flex;
    /* width: 1440px; */
    height: 900px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
}
.nav{
    display: flex;
    flex-direction: row;
    height: 120px;
    padding: 0px 82px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    background: #F5F5F5;
}
.logo{
    display: flex;
width: 60px;
height: 53px;
flex-direction: column;
justify-content: center;
align-items: center;
}
.logo-img{
    flex: 1 0 0;
    align-self: stretch;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
}
.navbar-item{

}
.items1{

}
.items{

}
.navbar-button{

}
.sign{

}
.log{

}
.first{

}
.first-1{

}
.first-2{

}
.first-3{

}
.first-btn{

}
.first-btn-t{

}
.two{

}
.two-t1{

}
.two-t2{

}
.two-nav{

}
.two-nav-1{

}
.two-img{

}
.group-9{

}
.boy{

}
.arrow{

}
.two-cards{

}
.card-first{

}
.card-first-1{

}
.orenge-card{

}
.card-t1{

}
.card-t2{

}
.card-2{

}
.card-t3{

}
.card-second{

}
.card-second-1{

}
.card-color-second{

}
.blue-card{

}
.card-t4{
    
}